<template>
  <div class="app-container home">

    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <span>预约数据详情</span>
        <el-button style="float: right; padding: 3px 0" type="text">导出数据</el-button>
      </div>
      <div class="text item">
        {{'本月预约人数：'+ 65341}}
      </div>
      <div class="text item">
        {{'本月处理人数：'+ 2999}}
      </div>
    </el-card>

    <el-calendar>
      <!-- 这里使用的是 2.5 slot 语法，对于新项目请使用 2.6 slot 语法-->
      <template
        slot="dateCell"
        slot-scope="{date, data}">
        <p :class="data.isSelected ? 'is-selected' : ''">
          {{ data.day.split('-').slice(1).join('-') }}
        </p>
        <div class="book-num">
          <span class="booked">预约：2000</span>
          <span class="handled">受理：199</span>
        </div>
      </template>
    </el-calendar>


  </div>
</template>

<script>
export default {
  name: "Index",
  data() {
    return {
      value: new Date()
    };
  },
  methods: {},
};
</script>

<style scoped>

.is-selected {
  color: #1989FA;
}

.book-num {
  display: flex;
  justify-content: space-between;
}

.handled {
  font-weight: bold;
}

.text {
  font-size: 20px;
}

.item {
  margin-bottom: 18px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both
}

.box-card {
  width: 100%;
}

</style>

